{% extends "layout.html" %}

{% block content %}

<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
<script src="/static/libs/autosize/autosize.min.js"></script>

<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1 sticky-top content-header">
        <h1 class="h4">Domain</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <a href="/domain/edit" class="btn btn-sm btn-outline-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit" color="#384047" data-reactid="486"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                Edit
            </a>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label for="text">Text</label>
            <pre>{{model.text}}</pre>
        </div>
    </form>
</div>

{% endblock %}