{% extends "layout.html" %}

{% block content %}

{% raw %}
<div id="app" v-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group">
                <div v-for="message in messages" class="my-1">
                    <div class="list-group-item list-group-item-ligh inline-block" v-bind:class="{ 'text-right': message.isMy }">
                        {{ message.text }}
                        <div v-if="message.error" class="invalid">{{message.error}}</div>
                        <div v-if="message.isSending" class="text-mutted small">Sending...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form v-on:submit.prevent="onSend">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="text" placeholder="Message..." aria-label="Message..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <input name="send" class="btn btn-outline-secondary" type="submit" value="Send" />
                    </div>
                </div>
            </form>
        </div>
    </div>
 </div>
{% endraw %}
<script>
    const app = new Vue({
        el: '#app',
        data: {
            error: null,
            messages: [],
            text:''
        },
        created: function () {
        },
        methods: {
            onSend: function (event) {
                var message = { 'text': this.text, 'isSending': true, 'isMy': true };
                this.messages.push(message);
                fetch(`/conversations/default/respond?q=${encodeURIComponent(this.text || '')}`, {
                    method: "GET",
                    headers: { "Content-Type": "application/json; charset=utf-8" }
                })
                    .then(res => res.json())
                    .then(json => {
                        message.isSending = false;
                        for (var i = 0; i < json.length; i++) {
                            this.messages.push(json[0]);
                        }
                    })
                    .catch(error => {
                        message.isSending = false;
                        message.error = "Error while connection to the server. " + error.message;
                    });
                this.text = '';
            }
        }
    });
</script>

{% endblock %}
