{% extends "layout.html" %}

{% block content %}

{% raw %}

<!--<script src="/static/libs/autosize/autosize.min.js"></script>-->
<script src="../../static/libs/codemirror/codemirror.js"></script>
<link href="../../static/libs/codemirror/codemirror.css" rel="stylesheet" />



<div id="app" v-cloak>
    <div class="row">
        <div class="col-md-3">
            <div class="sticky-top-2">
                <div class="sidebar-sticky-2">
                    <div class="input-group">
                        <input v-model="query" v-on:keyup.enter="search" type="text" class="form-control form-control-sm" placeholder="Search...">
                        <div class="input-group-append">
                            <button v-on:click="search" class="btn btn-sm btn-outline-secondar" type="button">Search <div v-if="isSearching" class="loader"></div></button>
                        </div>
                    </div>
                    <ul class="ul-items">
                        <li v-for="(item, index) in results" @click="selectItem(item, index)">
                            <a v-bind:class="{'active': item == selectedItem}" class="nav-link" href="#">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="sticky-top-2 bg-white pb-3">
                <div class="d-flex">
                    <div v-if="selectedItem">
                        <a v-on:click.stop="cancelItem()" href="#" class="icon text-muted">
                            <svg width="10" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill="none" stroke="#000" d="M18.65,1.68 C18.41,1.45 18.109,1.33 17.81,1.33 C17.499,1.33 17.209,1.45 16.98,1.68 L8.92,9.76 L8,12.33 L10.55,11.41 L18.651,3.34 C19.12,2.87 19.12,2.15 18.65,1.68 L18.65,1.68 L18.65,1.68 Z"></path> <polyline fill="none" stroke="#000" points="16.5 8.482 16.5 18.5 3.5 18.5 3.5 1.5 14.211 1.5"></polyline></svg>
                            Cancel
                        </a>
                    </div>
                    <div v-if="selectedItem">
                        <a v-on:click.stop="saveItem()" href="#" class="icon text-muted ml-3">
                            <svg width="10" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill="none" stroke="#000" d="M18.65,1.68 C18.41,1.45 18.109,1.33 17.81,1.33 C17.499,1.33 17.209,1.45 16.98,1.68 L8.92,9.76 L8,12.33 L10.55,11.41 L18.651,3.34 C19.12,2.87 19.12,2.15 18.65,1.68 L18.65,1.68 L18.65,1.68 Z"></path> <polyline fill="none" stroke="#000" points="16.5 8.482 16.5 18.5 3.5 18.5 3.5 1.5 14.211 1.5"></polyline></svg>
                            Save
                            <div v-if="selectedItem.isSaving" class="loader"></div>
                        </a>
                    </div>
                    <div v-if="selectedItem" class="ml-auto">
                        <a v-on:click.stop="resetItem()" href="#" class="icon text-muted ml-3">
                            <svg width="10" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill="none" stroke="#000" d="M18.65,1.68 C18.41,1.45 18.109,1.33 17.81,1.33 C17.499,1.33 17.209,1.45 16.98,1.68 L8.92,9.76 L8,12.33 L10.55,11.41 L18.651,3.34 C19.12,2.87 19.12,2.15 18.65,1.68 L18.65,1.68 L18.65,1.68 Z"></path> <polyline fill="none" stroke="#000" points="16.5 8.482 16.5 18.5 3.5 18.5 3.5 1.5 14.211 1.5"></polyline></svg>
                            Reset
                        </a>
                    </div>
                    <div v-if="selectedItem && selectedItem.name">
                        <a v-on:click.stop="deleteItem()" href="#" class="icon text-muted ml-3">
                            <svg width="10" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" points="6.5 3 6.5 1.5 13.5 1.5 13.5 3"></polyline> <polyline fill="none" stroke="#000" points="4.5 4 4.5 18.5 15.5 18.5 15.5 4"></polyline> <rect x="8" y="7" width="1" height="9"></rect> <rect x="11" y="7" width="1" height="9"></rect> <rect x="2" y="3" width="16" height="1"></rect></svg>
                            Delete
                            <div v-if="selectedItem.isDeleting" class="loader"></div>
                        </a>
                    </div>
                    <div>
                        <a v-on:click.stop="newItem()" href="#" class="icon text-muted ml-4">
                            <svg width="10" height="11" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill="none" stroke="#000" d="M18.65,1.68 C18.41,1.45 18.109,1.33 17.81,1.33 C17.499,1.33 17.209,1.45 16.98,1.68 L8.92,9.76 L8,12.33 L10.55,11.41 L18.651,3.34 C19.12,2.87 19.12,2.15 18.65,1.68 L18.65,1.68 L18.65,1.68 Z"></path> <polyline fill="none" stroke="#000" points="16.5 8.482 16.5 18.5 3.5 18.5 3.5 1.5 14.211 1.5"></polyline></svg>
                            New intent
                        </a>
                    </div>
                </div>
                <div v-if="selectedItem && selectedItem.error">
                    {{selectedItem.error}}
                </div>
            </div>
            <form v-if="selectedItem">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input v-model="selectedItem.name_editing" class="form-control form-control-console" autofocus>
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <text-editor v-model="selectedItem.text_editing"></text-editor>
                </div>


            </form>
        </div>
    </div>

</div>
{% endraw %}

<script>
    Vue.component('text-editor', {
        props: ['value'],
        watch: {
            value: function (val) {
                if (val != this.textEditor.getValue()) {
                    this.textEditor.setValue(val ? val : '');
                }
            },
        },
        mounted: function () {
            var scope = this;
            this.textEditor = CodeMirror.fromTextArea(document.getElementById('text_editor'), {
                lineNumbers: true
            });
            this.textEditor.on('change', function (cm) {
                scope.textEditor.save();
                scope.$emit('input', cm.getValue())
            });
            this.textEditor.setValue(this.value);
            this.textEditor.setSize("100%", "100%");
        },
        template: '<textarea id="text_editor"></textarea>'
    })

    const app = new Vue({
        el: '#app',
        data: {
            query: '',
            results: [],
            noResults: false,
            isSearching: false,
            error: '',
            selectedItem: null
        },
        created: function () {
            this.search();
        },
        methods: {
            search: function () {
                this.isSearching = true;
                this.error = '';
                fetch(`/api/intents?q=${encodeURIComponent(this.query)}`)
                    .then(res => res.json())
                    .then(res => {
                        this.isSearching = false;
                        this.results = res;
                        this.noResults = this.results.length === 0;
                    })
                    .catch(error => {
                        this.isSearching = false;
                        this.results = [];
                        this.noResults = false;
                        this.error = "Error while connection to the server. " + error.message;
                    });
            },
            newItem: function () {
                this.selectedItem = {
                    name: null,
                    name_editing: null,
                    text: null,
                    text_editing: null,
                }
                this.selectedItemIndex = null;
            },
            selectItem: function (item, index) {
                this.selectedItem = item;
                this.selectedItem.text_editing = this.selectedItem.text;
                this.selectedItem.name_editing = this.selectedItem.name;
                this.selectedItemIndex = index;
            },
            resetItem: function () {
                this.selectedItem.text_editing = this.selectedItem.text;
                this.selectedItem.name_editing = this.selectedItem.name;
                this.$set(this.results, this.selectedItemIndex, this.selectedItem)
            },
            cancelItem: function () {
                this.selectedItem = null;
                this.selectedItemIndex = null;
            },
            refreshItem: function (item, index) {
                if (index != null)
                    this.$set(this.results, index, item);
                else
                    this.$forceUpdate();
            },
            saveItem: function () {
                item = this.selectedItem;
                index = this.selectedItemIndex;
                item.isSaving = true;
                this.refreshItem(item, index);
                fetch(`/api/intents/${encodeURIComponent(item.name || item.name_editing)}`, {
                    method: item.name ? "POST" : "PUT",
                    headers: { "Content-Type": "application/json; charset=utf-8" },
                    body: JSON.stringify({ name: item.name_editing, text: item.text_editing }),
                })
                    .then(res => res.json())
                    .then(json => {
                        if (json.error) {
                            debugger;
                            item.isSaving = false;
                            item.error = json.error;
                            this.refreshItem(item, index);
                            return;
                        }
                        item.name = json.result.name;
                        item.text = json.result.text;
                        item.isSaving = false;
                        item.error = null;
                        this.refreshItem(item, index);
                    })
                    .catch(error => {
                        item.isSaving = false;
                        item.error = "Error while connection to the server. " + error.message;
                        this.refreshItem(item, index);
                    });
            },
            deleteItem: function () {
                item = this.selectedItem;
                index = this.selectedItemIndex;
                if (!confirm("Do you want to delete: " + item.name))
                    return;
                item.isDeleting = true;
                this.$set(this.results, index, item)
                fetch(`/api/intents/${encodeURIComponent(item.name)}`, {
                    method: "DELETE",
                    headers: { "Content-Type": "application/json; charset=utf-8" }
                })
                    .then(res => res.json())
                    .then(json => {
                        this.$delete(this.results, index)
                        this.selectedItem = null;
                        this.selectedItemIndex = null;
                    })
                    .catch(error => {
                        item.isDeleting = false;
                        item.error = "Error while connection to the server. " + error.message;
                        this.$set(this.results, index, item)
                    });
            },
        }
    });
</script>


{% endblock %}
