{% extends "layout.html" %}

{% block content %}

{% raw %}
<div id="app" v-cloak>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 pt-1">
        <h1 class="h4">core - memoization policy</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="input-group">
                <input v-model="query" v-on:keyup.enter="search" type="text" class="form-control form-control-sm" placeholder="Search...">
                <div class="input-group-append">
                    <button v-on:click="search" class="btn btn-sm btn-outline-secondar" type="button">Search <div v-if="isLoading" class="loader"></div></button>
                </div>
            </div>
        </div>
        <!--<a v-on:click.stop.prevent="decode()" href="#" class="icon text-muted ml-3">
            Decode <div v-if="isDecoding" class="loader"></div>
        </a>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <div v-if="lookups">
                    <ul>
                        <li v-for="(item, index) in lookups">
                            {{item.line}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div v-if="!isLoading && !isLoaded" class="mb-4">
                <a v-on:click.stop.prevent="load()" href="#" class="icon text-muted ml-3">
                    Load more<div v-if="isLoading" class="loader"></div>
                </a>
            </div>
            <div v-if="isLoading" class="mb-4">Loading...</div>
        </div>
    </div>
</div>
{% endraw %}

<script>
    const app = new Vue({
        el: '#app',
        data: {
            error: null,
            lookups: [],
            isDecoding: false,
            isLoading: false,
            isLoaded: false,
            query: '',
            last_index: 0
        },
        created: function () {
            this.query = this.$getQueryString("q") || '';
            this.last_index = this.$getQueryString("i") || 0;
            this.search();

            window.onscroll = function() {
                var bottomOfWindow = (window.innerHeight + window.pageYOffset + 50) >= document.body.offsetHeight;
                if (bottomOfWindow) {
                    app.load();
                }
            };
        },
        methods: {
            decode: function () {
                this.isDecoding = true;
                this.$fetch(`/api/models/MemoizationPolicy/lookups/decode`, {
                    method: "POST",
                    headers: { "Content-Type": "application/json; charset=utf-8" },
                    body: JSON.stringify({}),
                })
                    .then(json => {
                        this.isDecoding = false;
                    })
                    .catch(error => {
                        this.error = "Error: " + error.message;
                        this.isDecoding = false;
                    });
            },
            search: function () {
                this.lookups = [];
                this.last_index = 0;
                this.isLoaded = false;
                this.load();
            },
            load: function () {
                if (this.isLoading) {
                    return;
                }
                this.isLoading = true;
                this.$setQueryString("q", this.query);
                this.$setQueryString("i", this.last_index);
                fetch(`/api/models/MemoizationPolicy/lookups?q=${this.query}&i=${this.last_index}`, {
                    method: "GET",
                    headers: { "Content-Type": "application/json; charset=utf-8" }
                })
                    .then(function (response) {
                        if (!response.ok)
                            throw Error(response.status + ': ' + response.statusText);
                        return response.json();
                    })
                    .then(json => {
                        if (json.error)
                            throw Error(json.error);
                        this.isLoading = false;
                        this.isLoaded = json.result.lookups.length == 0;
                        this.lookups = this.lookups.concat(json.result.lookups);
                        this.last_index = json.result.last_index;
                    })
                    .catch(error => {
                        this.error = "Error: " + error.message;
                        this.isLoading = false;
                    });
            }
        }
    });
</script>



{% endblock %}
